PORT=5001
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/cmcfilms?retryWrites=true&w=majority
JWT_SECRET=cmc_films_super_secret_jwt_key_2026_luxury_studio
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
